---
const { id, title, buttonLabel, buttonUrl } = Astro.props;
import ArrowLeft from "@/icons/arrow-left.astro";

---
<div class="drawer-side scrollbar scrollbar-thumb-orange-400 scrollbar-track-orange-200"> <!--Ac치 definimos que hay un drawer -->
    <label for={id} aria-label="close sidebar" class="drawer-overlay"></label> <!-- Esta wea es la funcionalidad pa cerrar -->
    <div class="bg-orange-50 min-h-full lg:w-2/4 md:w-full sm:w-full p-10 relative rounded-lg shadow-lg"> <!--Ac치 hacemos que sea la mitad de la pantalla/full para celulares y definimos el fondo -->
        
        <div class="inline-flex absolute top-0 left-0 justify-between px-6 py-4 w-full"><!-- Este div es para la flecha de cierre y link externo -->
            <!-- Bot칩n de Cierre -->
            <label for={id} aria-label="close sidebar" class="flex items-center justify-center rounded-md group text-black hover:text-orange-500">
                <ArrowLeft />
            </label>
            <!-- Bot칩n opcional (PDF, link, etc.) -->
            {buttonUrl && (
                <a
                class="leading-tight font-semibold group p-2 rounded px-3 text-orange-500 hover:text-orange-600"
                aria-label={buttonLabel}
                target="_blank"
                rel="noreferrer noopener"
                href={buttonUrl}
                >
                <span class="font-roboto-condensed font-semibold">{buttonLabel}</span>
            </a>
            )}
        </div>
        
        <section id={id} class="mt-10 mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24">
            <h2 class="text-2xl font-bold mb-6 text-black">{title}</h2>
            <slot>
        </slot>
        <br>
        <label for={id} aria-label="close sidebar" class="flex items-center justify-center rounded-md group text-black hover:text-orange-500">
            <ArrowLeft />
        </label>
        </section>
            
    </div>
</div>