---
import type { ExperienceProps } from "../types/experience.props";
import IconArrowLink from "../icons/arrow-link.astro";

interface Props extends ExperienceProps {}

const { dates, title, organization, organizationUrl, description, technologies, logo, category } = Astro.props;
---

<li>
  <a
    href={organizationUrl}
    target="_blank"
    rel="noreferrer"
    aria-label={title}
    onclick={organizationUrl ? undefined : "event.preventDefault();"}
    class="group relative grid pb-1 transition-all duration-500 hover:backdrop-blur-sm sm:grid-cols-8 sm:gap-8 md:gap-4"
  >
    <!-- Fondo con efecto hover -->
    <div
      class="absolute -inset-x-4 -inset-y-4 z-0 rounded-md transition motion-reduce:transition-none lg:-inset-x-6 bg-orange-200 sm:bg-inherit sm:group-hover:bg-orange-200 sm:drop-shadow-none sm:group-hover:drop-shadow-md"
    ></div>

    <!-- Fechas de experiencia -->
    <header
      class="z-10 mb-2 mt-1 text-xs font-semibold uppercase tracking-wide text-orange-600 sm:text-zinc-600 sm:group-hover:text-orange-600"
      aria-label={dates}
    >
      <span>{dates}</span>
    </header>

    <div class="z-10 sm:col-span-6">
      <!-- Título y organización -->
      <h3 class="font-medium leading-snug">
        <div>
          <div
            class="inline-flex items-baseline font-medium leading-tight text-orange-600 sm:text-zinc-600 sm:group-hover:text-orange-600 text-base"
          >
            <span class="absolute -inset-x-4 -inset-y-2.5 hidden rounded md:-inset-x-6 md:-inset-y-4 lg:block"></span>
            <div class="flex gap-x-2 items-center">
              {logo && (
                <img
                  class="w-8 h-8 rounded grayscale-0 sm:grayscale sm:group-hover:grayscale-0"
                  src={logo}
                  alt={`${organization} logo`}
                />
              )}
              <span>
                {title} ·
                <span class="inline-block">
                  {organization}
                  {organizationUrl && <IconArrowLink />}
                </span>
              </span>
            </div>
          </div>
        </div>
      </h3>

      <!-- Categoría -->
      {category && (
        <p class="text-xs font-semibold uppercase text-orange-500">{category}</p>
      )}

      <!-- Descripción de experiencia -->
      <p class="mt-2 text-sm font-medium leading-normal text-orange-600 sm:text-zinc-600 sm:group-hover:text-orange-600">
        {description}
      </p>

      <!-- Tecnologías utilizadas -->
      {technologies.length && (
        <ul class="mt-2 flex flex-wrap" aria-label="Tecnologías utilizadas">
          {technologies.map((technology) => (
            <li class="mr-1.5 mt-2">
              <div class="flex items-center rounded-full text-orange-600 bg-white shadow-sm px-3 py-1 text-xs font-medium leading-5 sm:border sm:border-opacity-50 sm:text-zinc-600 sm:group-hover:text-orange-600 sm:group-hover:bg-white">
                {technology}
              </div>
            </li>
          ))}
        </ul>
      )}
    </div>
  </a>
</li>
